<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
      <td mat-cell *matCellDef="let row"> {{row.level}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.active | async; let cardImg" class="card-img-container">
          <img *ngIf="cardImg.src" src="{{cardImg.src}}">
          <img *ngIf="cardImg.frame" src="{{cardImg.frame}}">
          <img *ngIf="cardImg.sub" src="{{cardImg.sub}}">
        </div>
      </td>
    </ng-container>
    
    <!-- Slot 1 Column -->
    <ng-container matColumnDef="slot1">
      <th mat-header-cell *matHeaderCellDef> Slot 1 </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.slot1 | async; let cardImg" class="card-img-container">
          <img *ngIf="cardImg.src" src="{{cardImg.src}}">
          <img *ngIf="cardImg.frame" src="{{cardImg.frame}}">
          <img *ngIf="cardImg.sub" src="{{cardImg.sub}}">
        </div>
      </td>
    </ng-container>
    
    <!-- Slot 2 Column -->
    <ng-container matColumnDef="slot2">
      <th mat-header-cell *matHeaderCellDef> Slot 2 </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.slot2 | async; let cardImg" class="card-img-container">
          <img *ngIf="cardImg.src" src="{{cardImg.src}}">
          <img *ngIf="cardImg.frame" src="{{cardImg.frame}}">
          <img *ngIf="cardImg.sub" src="{{cardImg.sub}}">
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>